In [28]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
df=pd.read_csv("Audi_A1_listings (1).csv")
print(df.head())

   index    Year       Type  Mileage(miles) Engine          PS Transmission  \
0      0  2018.0  Hatchback         44000.0   1.6L  114.398422       Manual
1      4  2016.0  Hatchback         42596.0   1.0L   93.688363       Manual
2      7  2015.0  Hatchback         42700.0   1.4L  123.274162       Manual
3     11  2014.0  Hatchback         86000.0   1.6L  103.550296       Manual
4     12  2014.0  Hatchback        104310.0   1.6L  103.550296       Manual

     Fuel  Number_of_Owners  Price(£)  \
0  Diesel                 1   14995.0
1  Petrol                 3   10755.0
2  Petrol                 2   10799.0
3  Diesel                 3    7490.0
4  Diesel                 3    7400.0

                                                href          PPY  \
0  https://www.autotrader.co.uk/car-details/20221...  2499.166667
1  https://www.autotrader.co.uk/car-details/20221...  2688.750000
2  https://www.autotrader.co.uk/car-details/20221...  3599.666667
3  https://www.autotrader.co.uk/car-details/20221...  3745.000000
4  https://www.autotrader.co.uk/car-details/20220...  3700.000000

   MileageRank  PriceRank  PPYRank  Score
0          215        163      340    718
1          222        330      276    828
2          221        327       94    642
3           41        449       83    573
4           12        452       85    549

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             471 non-null    int64
 1   Year              471 non-null    float64
 2   Type              471 non-null    object
 3   Mileage(miles)    471 non-null    float64
 4   Engine            471 non-null    object
 5   PS                471 non-null    float64
 6   Transmission      471 non-null    object
 7   Fuel              471 non-null    object
 8   Number_of_Owners  471 non-null    int64
 9   Price(£)          471 non-null    float64
 10  href              471 non-null    object
 11  PPY               471 non-null    float64
 12  MileageRank       471 non-null    int64
 13  PriceRank         471 non-null    int64
 14  PPYRank           471 non-null    int64
 15  Score             471 non-null    int64
dtypes: float64(5), int64(6), object(5)
memory usage: 59.0+ KB

In [30]:
df.columns

Index(['index', 'Year', 'Type', 'Mileage(miles)', 'Engine', 'PS',
       'Transmission', 'Fuel', 'Number_of_Owners', 'Price(£)', 'href', 'PPY',
       'MileageRank', 'PriceRank', 'PPYRank', 'Score'],
      dtype='object')

In [31]:
df = df.drop(columns = ['index','href','PPY','MileageRank','PriceRank','PPYRank', 'Score'])

In [32]:
print(df.head())

     Year       Type  Mileage(miles) Engine          PS Transmission    Fuel  \
0  2018.0  Hatchback         44000.0   1.6L  114.398422       Manual  Diesel
1  2016.0  Hatchback         42596.0   1.0L   93.688363       Manual  Petrol
2  2015.0  Hatchback         42700.0   1.4L  123.274162       Manual  Petrol
3  2014.0  Hatchback         86000.0   1.6L  103.550296       Manual  Diesel
4  2014.0  Hatchback        104310.0   1.6L  103.550296       Manual  Diesel

   Number_of_Owners  Price(£)
0                 1   14995.0
1                 3   10755.0
2                 2   10799.0
3                 3    7490.0
4                 3    7400.0

In [33]:
df["Engine"] = df["Engine"].str.replace("L","")
df["Engine"]= pd.to_numeric(df["Engine"])

In [34]:
print(df.head())

     Year       Type  Mileage(miles)  Engine          PS Transmission    Fuel  \
0  2018.0  Hatchback         44000.0     1.6  114.398422       Manual  Diesel
1  2016.0  Hatchback         42596.0     1.0   93.688363       Manual  Petrol
2  2015.0  Hatchback         42700.0     1.4  123.274162       Manual  Petrol
3  2014.0  Hatchback         86000.0     1.6  103.550296       Manual  Diesel
4  2014.0  Hatchback        104310.0     1.6  103.550296       Manual  Diesel

   Number_of_Owners  Price(£)
0                 1   14995.0
1                 3   10755.0
2                 2   10799.0
3                 3    7490.0
4                 3    7400.0

In [35]:
df.columns

Index(['Year', 'Type', 'Mileage(miles)', 'Engine', 'PS', 'Transmission',
       'Fuel', 'Number_of_Owners', 'Price(£)'],
      dtype='object')

In [36]:
df=pd.get_dummies(df, columns=['Type','Transmission', 'Fuel'],drop_first=True,dtype=int)

In [37]:
print(df.head())

     Year  Mileage(miles)  Engine          PS  Number_of_Owners  Price(£)  \
0  2018.0         44000.0     1.6  114.398422                 1   14995.0
1  2016.0         42596.0     1.0   93.688363                 3   10755.0
2  2015.0         42700.0     1.4  123.274162                 2   10799.0
3  2014.0         86000.0     1.6  103.550296                 3    7490.0
4  2014.0        104310.0     1.6  103.550296                 3    7400.0

   Transmission_Manual  Fuel_Petrol
0                    1            0
1                    1            1
2                    1            1
3                    1            0
4                    1            0

In [38]:
y =df[["Price(£)"]]
x = df.drop("Price(£)", axis=1)

In [39]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.70,random_state=42)

In [40]:
lm= LinearRegression()
model=lm.fit(x,y)

In [41]:
df.head()

,Year,Mileage(miles),Engine,PS,Number_of_Owners,Price(£),Transmission_Manual,Fuel_Petrol
0,2018.0,44000.0,1.6,114.398422,1,14995.0,1,0
1,2016.0,42596.0,1.0,93.688363,3,10755.0,1,1
2,2015.0,42700.0,1.4,123.274162,2,10799.0,1,1
3,2014.0,86000.0,1.6,103.550296,3,7490.0,1,0
4,2014.0,104310.0,1.6,103.550296,3,7400.0,1,0

In [42]:
model.predict([[2017,50000,1.3,92.234567,2,1,1]])

c:\Users\DELL\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[11473.87518483]])

In [43]:
model.score(x,y)

0.9110559159967575